.booking-search-bar {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  
}

.booking-search-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  background: #fff;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
  font-size: 15px;
  width: 1000px;
  
  
}

.search-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  min-width: 160px;
  font-size: 15px;
  cursor: pointer;
  
  
}

.guest-input {
  position: relative;
}

.guest-dropdown {
  position: absolute;
  top: 110%;
  left: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 12px;
  min-width: 250px;
  z-index: 1000;
}

.guest-dropdown-wrapper {
  position: relative;
  flex: 1;

}

.dropdown-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.destination-wrapper {
  position: relative;
  flex: 1;
}

.autocomplete-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.autocomplete-list li {
  padding: 10px 14px;
  cursor: pointer;
  border-bottom: 1px solid #f0f0f0;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.autocomplete-list li:last-child {
  border-bottom: none;
}

.autocomplete-list li:hover {
  background-color: #f7f7f7;
}


.counter {
  display: flex;
  align-items: center;
  gap: 8px;
}

.counter button {
  width: 28px;
  height: 28px;
  border: 1px solid #0071c2;
  background: white;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
}

.counter button:hover {
  background: #0071c2;
  color: #fff;
}

.dropdown-actions {
  text-align: right;
}

.dropdown-actions button {
  background: #0071c2;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.search-button {
  background: #0071c2;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}

.search-button:hover {
  background: #005b99;
}